* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "JetBrains Mono", monospace;;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #fdfdfd;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea,
input[type="datetime-local"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

button[type="submit"] {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ff4081;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;  
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #ff80ab;
}
