* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fdfdfd;
}

.footer {
    background-color: #fdfdfd;
    padding: 40px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.footer h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #222;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-section h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-section p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.social-icons {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}

.social-icons a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff4081;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
