
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.static-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.static-carousel-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.static-carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 0; 
}

.static-carousel-container img.active {
    display: block;
}

.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    text-align: center;
    color: white;
    border-radius: 10px;
}

.carousel-text h1 {
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

@media screen and (max-width: 500px) {
    .carousel-text h1 {
        font-size: 2rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .carousel-text p {
        font-size: 1rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

.carousel-text p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.popular-posts-section {
    margin: 50px auto;
    max-width: 1200px;
    text-align: center;
    font-family: 'Georgia', serif;
}

.popular-posts-section h2 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #444;
    margin-bottom: 30px;
}

.popular-posts-section {
    margin: 50px auto;
    max-width: 1700px;
    text-align: center;
    font-family: 'Georgia', serif;
}

.popular-posts-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 30px;
}

.popular-posts {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: stretch;
    flex-wrap: wrap;
}

.popular-post {
    background: linear-gradient(135deg, #fff 0%, #f7f5f0 100%);
    border: 2px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    width: 28%;
    max-width: 700px;
    height: 550px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    overflow: hidden;
    padding: 15px;
}

.popular-post:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popular-post a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popular-post img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.popular-post h2 {
    font-size: 1.3rem;
    color: #333;
    font-weight: bold;
    margin: 15px 0 5px;
    text-align: left;
    padding: 0 10px;
}



.popular-post .date {
    font-size: 0.9rem;
    color: #999;
    text-align: center;
    font-style: italic;
    margin-top: auto;
    padding: 10px 0 5px; 
    border-top: 1px solid #ddd;
}

@media (max-width: 992px) {
    .popular-posts {
        flex-direction: column;
        align-items: center;
    }

    .popular-post {
        width: 90%;
        margin-bottom: 20px;
        height: auto;
    }

    .popular-post img {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .popular-posts {
        gap: 40px;
    }

    .popular-post h2 {
        font-size: 1.6rem;
    }

    .popular-post p {
        font-size: 1.1rem;
    }
}
.latest-travels-dynamic {
    margin: 10% auto 0 auto; 
    text-align: center;
    width: 80%; 
    
}

.latest-travels-dynamic h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    color: #333;
}


.dynamic-carousel-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    color: #ffffff;
    margin-top: 2%;
    cursor: pointer;
}


.dynamic-carousel-container .main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease;
}

.dynamic-carousel-container .main-image.show {
    opacity: 1;
}


.dynamic-carousel-container .text-overlay {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    padding: 20px 40px 40px;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}


.dynamic-carousel-container .text-overlay .country {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffcc00;
    margin-bottom: 5px;
}


.dynamic-carousel-container .text-overlay .place {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
}


.dynamic-carousel-container .text-overlay .describe {
    font-size: 1rem;
    margin-top: 40px;
    font-weight: 300;
}


.dynamic-carousel-container .text-overlay .discover-button {
    padding: 10px 20px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
    margin-top: 10px; 
    align-self: flex-start;
}

.dynamic-carousel-container .text-overlay .discover-button:hover {
    background-color: #ff80ab;
}


.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 3;
}

.carousel-btn.prev {
    left: 20px;
}

.carousel-btn.next {
    right: 20px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.dynamic-carousel-container .ordinal-number {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.newsletter {
    background-color: rgba(250, 249, 249, 1);
    padding: 50px;
    max-width: 800px;
    width: 90%;
    margin: 40px auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.5);
    font-family: "JetBrains Mono", monospace;
}

.newsletter-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.newsletter-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}


.newsletter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-form label {
    font-size: 1.2rem;
}

.newsletter-form input[type="email"] {
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    flex-grow: 1;
}

.newsletter-form button {
    padding: 15px 30px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 150px;
}

.newsletter-form button:hover {
    background-color: #ff80ab;
}


@media (min-width: 768px) {
    .newsletter-title {
        font-size: 2.5rem;
    }
    
    .newsletter-description {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .newsletter {
        padding: 70px;
        max-width: 1000px;
    }

    .newsletter-title {
        font-size: 3rem;
    }

    .newsletter-description {
        font-size: 1.5rem;
    }
    
    .newsletter-form input[type="email"] {
        font-size: 1.2rem;
        padding: 15px 20px;
    }

    .newsletter-form button {
        font-size: 1.2rem;
        padding: 15px 25px;
    }
}



.text-blog {
    margin-top: 50px;
}

.text-blog-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

.text-blog h2 {
    grid-column: 2; 
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.text-blog a {
    text-decoration: none;
}

.text-blog .view-all-button {
    grid-column: 3;
    justify-self: end;
    padding: 10px 20px;
    font-size: 1rem;
    margin-right: 5%;
    background-color: #ff4081;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.text-blog .view-all-button:hover {
    background-color: #ff80ab;
}

@media screen and (max-width: 500px) {
    .text-blog-header {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 20px;
    }

    .text-blog h2 {
        margin-bottom: 10px; 
    }

    .text-blog .view-all-button {
        margin: 0; 
        justify-self: center; 
    }
}



#blogContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding-top: 20px;
}

.blog-post {
    width: 100%; 
    max-width: 800px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.blog-post img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.blog-post img:hover {
    transform: scale(1.05);
}

.blog-post h2 {
    margin-top: 10px;
    font-weight: 200;
    font-size: 1.25vw;
}

@media (min-width: 992px) {
    #blogContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 600px) and (max-width: 991px) {
    #blogContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 599px) {
    #blogContainer {
        grid-template-columns: 1fr;
    }
    .blog-post h2 {
        margin-top: 10px;
        font-size: 2.25vw;
    }
}

@media (min-width: 1500px) {
    #blogContainer {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }
    .blog-post img {
        width: 100%;
        height: 450px; 
        object-fit: cover; 
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
}


.guide-card {
    display: flex;
    width: 100vw;
    height: auto;
    background-color: #d0cece;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.guide-image img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.guide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 40%;
    text-align: left;
}

.guide-content h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.guide-content p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.guide-content button {
    padding: 15px 70px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self:center;
    
}

.guide-content button:hover {
    background-color: #ff80ab;
}

@media (max-width: 768px) {
    .guide-card {
        flex-direction: column;
    }

    .guide-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        cursor: pointer;
    }

    .guide-content {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .guide-content button {
       display: none;
        
    }
}

